body{
    background: rgb(194,242,245);
    background: linear-gradient(156deg, rgba(194,242,245,1) 0%, rgba(0,233,251,1) 20%, rgba(7,94,250,1) 100%);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
#test{
    display: flex;
    justify-content: center;
    width: 60%;
    height: 100%;
    background-color: whitesmoke;
}
#buttoncreate{


}